/*--form-modal--window*/

/*текст-заголовок*/
.modal-form__text {
  font-weight: 700;
  @include font(20px, 1.15, 00.03em);
  text-align: center;

  color: var(--color-btn-name);

  margin-bottom: 12px;
}
/*1-3 поля*/
.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  position: relative;
  & input {
    display: block;
    overflow: none;
    padding: 14px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;

    width: 100%;

    transition: border var(--trans);
  }
}

/*іконки в полі*/
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;

  fill: var(--color-btn-name);

  transition: fill var(--trans);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  .modal-form__field input:hover + &,
  .modal-form__field input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__field input:hover,
.modal-form__field input:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

/*поле-коментар*/

.modal-form__field textarea {
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  min-height: 120px;
  resize: none;
  &:hover,
  &:focus {
    outline: transparent;
    border: 1px solid var(--accent-color);
  }
  &::placeholder {
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.wider {
  margin-bottom: 20px;
}

/*рядок-згода з умовами*/
.modal-form__check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-form__label {
  display: flex;
  align-items: center;
  gap: 7px;

  margin-left: 26px;

  position: relative;

  font-weight: 400;
  @include font(var(--main-font-size), 1.71, 0.03em);

  color: var(--base-text-color);
}

.modal-form__condition {
  color: var(--accent-color);
  text-decoration: 1px solid var(--accent-color);
}

.modal-form__link {
  text-decoration: underline solid var(--accent-color);
}

.modal-form__icon-check {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-60%);

  display: block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--color-btn-name);
  border-radius: 2px;
  .modal-form__check:checked + & {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);

    background-size: cover;
    background-origin: border-box;
  }
}

.form-btn {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 52px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-icon-focus);
  background-color: var(--accent-color);
  transition: background-color var(--trans);

  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: var(--color-btn);
  }
}
