body {
  font-family: "Roboto", sans-serif;
  color: var(--base-text-color);
  background-color: var(--general-back-color);
  font-size: var(--form-font-size);

  margin-right: auto;
  margin-left: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  cursor: pointer;
}
