/*footer*/
.footer {
  background-color: var(--back-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    align-items: baseline;
  }
}

.footer__logo {
  display: inline-block;

  margin-bottom: 20px;
}

.logo-part--light {
  color: var(--footer-logo-color);
}

.footer-address__item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer-soc {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
