/*header*/
.header {
  border-bottom: 1px solid var(--border-color);
}
/* флекси в хедері*/
.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  @include font(24px, 1.17, 0.03em);
  color: var(--accent-color);
  @media screen and (min-width: 1200px) {
    @include font(26px, 1.19, 0.03em);
  }
}

.navigation__logo {
  margin-right: 88px;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo-part--dark {
  color: var(--header-logo-color);
}

.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 96px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
    margin-right: 318px;
  }
}

.menu__item:nth-child(1) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 56px;
  }
}

.menu__item:nth-child(2) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 51px;
  }
}

.menu-second {
  display: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.menu__link {
  font-weight: 500;
  @include font(var(--main-font-size), 1.14, 0.02em);
  color: var(--header-link-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--trans);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
  }
}

.menu-second__link {
  font-weight: 500;
  @include font(var(--form-font-size), 1.17, 0.02em);

  display: flex;
  fill: var(--color-icon);

  transition: color var(--trans), fill var(--trans);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(var(--main-font-size), 1.14, 0.02em);
    align-items: center;
  }
}

.menu-second__link--dark {
  color: var(--base-text-color);
}

.menu-second__icon {
  margin-right: 8px;
  &:first-child {
    max-width: 14px;
    height: 10px;
  }
  &:last-child {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    &:first-child {
      width: 16px;
      height: 12px;
    }
    &:last-child {
      width: 10px;
      height: 16px;
    }
  }
}

.menu-open-btn {
  @media screen and (max-width: 767px) {
    display: block;
    margin-left: 284px;
    margin-right: 23px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
